[Desktop Entry]
Comment[en_CA]=
Comment=
Exec=dpkg-gui
GenericName[en_CA]=
GenericName=
Icon=system-run
MimeType=
Name[en_CA]=DEB Installer
Name=DEB Installer
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
